<h1><%= @employee.display_name %></h1>
<% if @employee.errors.any? %>
	<div id="error_explanation">
		<h2><%= pluralize(@employee.errors.count, "error") %> prohibited this employee from being saved:</h2>
		<ul>
			<% @employee.errors.full_messages.each do |msg| %>
			<li>
				<%= msg %>
			</li>
			<% end %>
		</ul>
	</div>
<% end %>
<div class="panel-group">
	<div class="panel panel-primary">

		<div class="panel-heading">
			<h4 class="panel-title">General Data</h4>
		</div>
		<div id="generalData" class="panel-collapse collapse in">
			<div class="panel-body">
				<%= render "form" %>
			</div>
		</div>
	</div>

</div>
<%= link_to "Cancel", @employee, class: "btn btn-link"%>