<!-- General info panel -->
<!-- Header information -->
<% content_for 'panel_title_1' do %>General Info<% end %>
<% content_for 'panel_heading_1' do %>
<%= button_tag "Manage", class: "btn btn-default btn-xs pull-right", data: {toggle: "modal", target: "#modal_1"} if current_user.above? @employee or current_user.admin? %>
<% end %>
<!-- /Header information -->

<!-- Modal content -->
<!-- Content for modal -->
<% content_for "modal_header_1" do %>Manage Employee<% end %>

<% content_for "modal_content_1" do %>
<%@in_modal=true%>
<%= render "form" %>
<% end %> 

<!-- General info body -->
<% content_for 'panel_body_1' do %>
<table class="table">
	<tr>
		<td>Role:</td>
		<td><%= @employee.role unless @employee.role.blank? %></td>
	</tr>
	<tr>
		<td>Level:</td>
		<td><%= @employee.level unless @employee.level.blank? %></td>
	</tr>
	<tr>
		<td>Manager:</td>
		<td><%= link_to @employee.manager.display_name, "#{@employee.manager.id}" unless @employee.manager.blank? %></td>
	</tr>
	<tr>
		<td>Status:</td>
		<td><%= @employee.status %></td>
	</tr>
	<tr>
		<td>Start Date:</td>
		<td><%= @employee.start_date.strftime("%B %e, %Y") unless @employee.start_date.blank? %></td>
	</tr>
	<tr>
		<td>Time with Orasi:</td>
		<td><%= time_ago_in_words(@employee.start_date) unless @employee.start_date.blank? or @employee.start_date >= Time.now %></td>
	</tr>
	<tr>
		<td>Cell Phone:</td>
		<td><%= @employee.cell_phone unless @employee.cell_phone.blank? %></td>
	</tr>
	<tr>
		<td>Office Phone:</td>
		<td><%= @employee.office_phone unless @employee.office_phone.blank?%></td>
	</tr>
	<tr>
		<td>Email:</td>
		<td><%= @employee.email unless @employee.email.blank? %></td>
	</tr>
	<tr>
		<td>IM Username:</td>
		<td><%= @employee.im_name unless @employee.im_name.blank? %></td>
	</tr>
	<tr>
		<td>IM Client:</td>
		<td><%= @employee.im_client unless @employee.im_client.blank? %></td>
	</tr>
</table>
<% end %>
<!-- /General info body -->

<!-- Project info panel -->
<!-- Project info head -->
<% content_for 'panel_title_2' do %>Project Info<% end %>
<% content_for 'panel_heading_2' do %>
<%= button_tag "Manage", class: "btn btn-default btn-xs pull-right", data: {toggle: "modal", target: "#modal_2"} if current_user.above? @employee or current_user.admin? %>
<% end %>
<!-- /Project info head -->

<!-- Content for modal -->
<% content_for "modal_header_2" do %>Manage Project<% end %>

<% content_for "modal_content_2" do %>
<%= render "project_form" %>
<% end %> 

<!-- Project info body -->
<% content_for 'panel_body_2' do %>
<table class="table">
	<tr>
		<td>Project:</td>
		<td><%= @employee.project.blank? ? "Not billable" : @employee.project.name %></td>
	</tr>
	<tr>
		<td>Project Lead:</td>
		<td><%= @employee.project.lead.display_name unless @employee.project.blank? or @employee.project.lead.blank? %></td>
	</tr>
	<tr>
		<td>Lead Office Phone:</td>
		<td><%= @employee.project.lead.office_phone unless @employee.project.blank? or @employee.project.lead.blank? %></td>
	</tr>
	<tr>
		<td>Roll On Date:</td>
		<td><%= @employee.roll_on_date %></td>
	</tr>
	<tr>
		<td>Roll Off Date:</td>
		<td><%= @employee.roll_off_date %></td>
	</tr>
</table>
<% end %>
<!-- /Project info body -->
<!-- /Project info panel -->

<!-- Time off panel -->
<!-- Time off head -->
<% content_for 'panel_title_3' do %>Time Off Info<% end %>
<% content_for 'panel_heading_3' do %>
<%= link_to "Manage", "vacation/#{@employee.id}", class: "btn btn-default btn-xs pull-right" if current_user.above? @employee or current_user.admin? %>
<% end %>
<!-- /Time off head -->

<!-- Time off body -->
<% content_for 'panel_body_3' do %>
<table class="table">
	<tr>
		<td>Sick Days Taken:</td>
		<td><%= "#{@employee.sick_days_taken.prettify}/#{@employee.max_sick_days}" %></td>
	</tr>
	<tr>
		<td>Vacation Days Taken:</td>
		<td><%= "#{@employee.vacation_days_taken.prettify}/#{@employee.max_vacation_days}" %></td>
	</tr>
	<tr>
		<td>Floating Holidays Taken:</td>
		<td><%= "#{@employee.floating_holidays_taken.prettify}/#{@employee.max_floating_holidays}" %></td>
	</tr>
</table>
<% end %>
<!-- /Time off body -->
<!-- /Time off panel -->

<% content_for :footer do %>
<%= link_to "Back", :root %>
<% end %>

<%= render 'modals/modal_group' %>
<%= render "panel_group" %>

