<h1><%= @employee.display_name %></h1>
<table>
	<tr>
		<td>Role:</td>
		<td><%= @employee.role unless @employee.role.blank? %></td>
	</tr>
	<tr>
		<td>Project:</td>
		<td><%= @employee.project.blank? ? "Not billable" : @employee.project %></td>
	</tr>
	<tr>
		<td>Manager:</td>
		<td><%= link_to @employee.manager.display_name, "#{@employee.manager.id}" unless @employee.manager.blank? %></td>
	</tr>
</table>
<%= link_to "Back", :root %>