<div>
	<h1>Vacation Details for <%= @employee.display_name %></h1>
	<% unless flash.blank? %>
	<div class="alert-inline">
		<% if flash[:error] %>
		<% flash[:error].each do |msg| %>
		<div class="alert alert-danger fade in">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">
				&times;
			</button>
			<%= msg %>
		</div>
		<% end %>
		<% elsif flash[:notice] %>
		<div class="alert alert-success fade in">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">
				&times;
			</button>
			<%= flash[:notice] %>
		</div>
		<% end %>
	</div>
	<% end %>
	<table class="table table-responsive table-bordered table-hover table-condensed">
		<tr>
			<th>Date Requested</th>
			<th>Start Date</th>
			<th>End Date</th>
			<th>Total Business Days</th>
			<th>Type</th>
			<th>Edit</th>
			<th>Delete</th>
		</tr>
		<div id="all_vacations">
		<% @employee.vacations.each do |vacation| %>
		<%= render(vacation) %>
		<% end %>
		</div>
		<%= form_for :vacation, url: {controller: "vacation", action: "new"} do |f| %>
		<tr id="vacation-new" class="vacation-row">
			<%= f.hidden_field :business_days, id: "hidden_business_days-new", value: "{{calc_business_days(start_date, end_date)}}" %>
			<%= f.hidden_field :manager_id, value: "#{current_user.id}" %>
			<%= f.hidden_field :employee_id, value: "#{@employee.id}" %>
			<td><%= f.text_field :date_requested, value: Time.now.strftime("%F"), type: "date", placeholder: "YYYY-MM-DD", pattern: '\d{4}-\d{2}-\d{2}', title: "YYYY-MM-DD", required: true %></td>
			<td><%= f.date_field :start_date, id:"start_date-new", class: "date-field", placeholder: "YYYY-MM-DD", pattern: '\d{4}-\d{2}-\d{2}', title: "YYYY-MM-DD", required: true %></td>
			<td><%= f.date_field :end_date, id:"end_date-new", class: "date-field", placeholder: "YYYY-MM-DD", pattern: '\d{4}-\d{2}-\d{2}', title: "YYYY-MM-DD", required: true %></td>
			<td id="business_days-new"><strong></strong></td>
			<td><%= f.select :vacation_type, ["Sick","Vacation","Floating Holiday"] %></td>
		</tr>
	</table>
	<%= f.submit class: "btn btn-primary" %>
	<% end %>
	<%= link_to "Back", "/employee/#{@employee.id}" %>
</div>
