<h1>Time Off Details for <%= @employee.display_name %></h1>
<div class="vacation-summary-table">
	<span><%= "#{@employee.sick_days_taken.prettify}/#{@employee.max_sick_days}" %> Sick Days</span>
	<span><%= "#{@employee.vacation_days_taken.prettify}/#{@employee.max_vacation_days}" %> Vacation Days</span>
	<span><%= "#{@employee.floating_holidays_taken.prettify}/#{@employee.max_floating_holidays}" %> Floating Holidays</span>
</div>
<% if @employee.vacations.count > 0 %>
<table class="table table-responsive table-bordered">
	<tr>
		<th><%= link_to 'Date Requested',view_vacation_path(@employee, sort: :date_requested, rev: params[:rev]!='true')  %></th>
		<th><%= link_to 'Start Date',view_vacation_path(@employee, sort: :start_date, rev: params[:rev]!='true')  %></th>
		<th><%= link_to 'End Date',view_vacation_path(@employee, sort: :end_date, rev: params[:rev]!='true')  %></th>
		<th><%= link_to 'Total Business Days',view_vacation_path(@employee, sort: :business_days, rev: params[:rev]!='true')  %></th>
		<th><%= link_to 'Type',view_vacation_path(@employee, sort: :vacation_type, rev: params[:rev]!='true')  %></th>
	</tr>
	<% @employee.vacations.order("#{params[:sort].blank? ? :date_requested : params[:sort]} #{params[:rev]!='true' ? 'ASC' : 'DESC'}").each do |vacation| %>
	<tr>
		<td><%= vacation.date_requested %></td>
		<td><%= vacation.start_date %></td>
		<td><%= vacation.end_date %></td>
		<td><%= vacation.business_days.prettify %></td>
		<td><%= vacation.vacation_type %></td>
	</tr>
	<% end %>
</table>
<% end %>
<%= mail_to @employee.manager.email, "Email manager", class: "btn btn-default" unless @employee.manager.blank? %>
<div class="clearfix"></div>
<%= link_to "Back", :back, style: "margin-top: 10px" unless current_user.role == "Consultant"%>