<%= form_for @employee, url: employee_path(@employee), html: {class: "form-horizontal", role: "form"} do |f| %>
<div class="form-group">
	<%= f.label :username, nil, class: "control-label" do %>
	<%= image_tag 'logo.png', class: "image image-responsive", width: "65px"%> username
	<% end %>
	<%= f.text_field :username, value: "#{@employee.username unless @employee.username.blank?}", class: "form-control" %>
</div>
<div class="form-group">
	<%= f.label :first_name, nil, class: "control-label" %>
	<%= f.text_field :first_name, value: "#{@employee.first_name.capitalize unless @employee.first_name.blank?}", class: "form-control" %>
</div>
<div class="form-group">
	<%= f.label :last_name, nil, class: "control-label" %>
	<%= f.text_field :last_name, value: "#{@employee.last_name.capitalize unless @employee.last_name.blank?}", class: "form-control" %>
</div>
<div class="form-group">
	<%= f.label :level, nil, class: "control-label" %>
	<%= f.select :level, Employee.levels(@employee.role.downcase), {}, class: "form-control" %>
</div>
<% if current_user.is_upper_management? %>
<div class="form-group">
	<%= f.label :role, nil, class: "control-label" %>
	<%= f.select :role, Employee.roles, {}, class: "form-control" %>
</div>
<div class="form-group">
	<%= f.label :manager, nil, class: "control-label" %>
	<%= select :employee, :manager_id, Employee.all.order(:first_name).where.not(id: @employee).find_all {|f| f.is_manager_or_higher? }.collect {|f| [f.display_name, f.id]}, { include_blank: true }, class: "form-control" %>
</div>
<div class="form-group">
	<%= f.label :status, nil, class: "control-label" %>
	<%= f.select :status, Employee.statuses, {}, class: "form-control" %>
</div>
<% end %>
<div class="form-group">
	<%= f.label :location, class: "control-label"%>
	<%= f.select :location, Employee.locations, { include_blank: true }, class: "form-control" %>
</div>
<div class="form-group">
	<%= f.label :start_date, nil, class: "control-label" %>
	<%= f.date_field :start_date, class: "form-control", placeholder: "YYYY-MM-DD", pattern: '\d{4}-\d{2}-\d{2}', title: "YYYY-MM-DD" %>
</div>
<div class="form-group">
	<%= f.label :cell_phone, nil, class: "control-label" %>
	<%= f.phone_field :cell_phone, class: "form-control" %>
</div>
<div class="form-group">
	<%= f.label :office_phone, nil, class: "control-label" %>
	<%= f.phone_field :office_phone, class: "form-control" %>
</div>
<div class="form-group">
	<%= f.label :email, nil, class: "control-label" %>
	<%= f.text_field :email, class: "form-control" %>
</div>
<div class="form-group">
	<%= f.label :im_name, "IM Name", class: "control-label" %>
	<%= f.text_field :im_name, class: "form-control" %>
</div>
<div class="form-group">
	<%= f.label :im_client, "IM Client", class: "control-label" %>
	<%= f.select :im_client, Employee.im_client_types, {include_blank: true}, class: "form-control" %>
</div>
<div class="form-group">
	<%= f.label :department, 'Department', class: "control-label" %>
	<% unless current_user.department.blank? %>
		<% if @employee.department.blank? %>
			<% path_to_highest_dept = current_user.department.find_path_to_highest_department %>
	 		<% path_to_highest_dept.reverse.each do |dept_id| %>
	 			<% dept = Department.find(dept_id) %>
	 			<% if dept == current_user.department or dept.above?(current_user.department) %>
	 			  <%= f.select :department_id, options_from_collection_for_select(Department.where(id: dept_id), 'id', 'name', dept_id), {}, class: "form-control", name: "employee[department_id][]" %>
	 			<% else %>
	 			  <%= f.select :department_id, options_from_collection_for_select(Department.where(department_id: dept.parent_department), 'id', 'name', dept_id), {include_blank: true}, class: "form-control", name: "employee[department_id][]" %>
	 			<% end %>
	 		<% end %>
			<% unless current_user.department.sub_departments.blank? %>
					<%= f.select :department_id, options_from_collection_for_select(current_user.department.sub_departments, 'id', 'name'), {include_blank: true}, class: "form-control", name: "employee[department_id][]" %>
			<% end %>
		<% else %>
			<% path_to_highest_dept = @employee.department.find_path_to_highest_department %>
	 		<% path_to_highest_dept.reverse.each do |dept_id| %>
	 			<% dept = Department.find(dept_id) %>
	 			<% if dept == current_user.department or dept.above?(current_user.department) %>
	 			  <%= f.select :department_id, options_from_collection_for_select(Department.where(id: dept_id), 'id', 'name', dept_id), {}, class: "form-control", name: "employee[department_id][]" %>
	 			<% else %>
	 			  <%= f.select :department_id, options_from_collection_for_select(Department.where(department_id: dept.parent_department), 'id', 'name', dept_id), {include_blank: true}, class: "form-control", name: "employee[department_id][]" %>
	 			<% end %>
	 		<% end %>
	 		<% unless @employee.department.sub_departments.blank? %>
	 			<%= f.select :department_id, options_from_collection_for_select(@employee.department.sub_departments, 'id', 'name'), {include_blank: true}, class: "form-control", name: "employee[department_id][]" %>
	 		<% end %>
		<% end %>
	<% else %>
		<% if @employee.department.blank? %>
			<%= f.select :department_id, options_from_collection_for_select(Department.where(department_id: nil), 'id', 'name'), {include_blank: true}, class: "form-control", name: "employee[department_id][]" %>
		<% else %>
			<% path_to_highest_dept = @employee.department.find_path_to_highest_department %>
	 		<% path_to_highest_dept.reverse.each do |dept_id| %>
	 			<% dept = Department.find(dept_id) %>
	 			<%= f.select :department_id, options_from_collection_for_select(Department.where(department_id: dept.parent_department), 'id', 'name', dept_id), {include_blank: true}, class: "form-control", name: "employee[department_id][]" %>
	 		<% end %>
	 		<% unless @employee.department.sub_departments.blank? %>
	 			<%= f.select :department_id, options_from_collection_for_select(@employee.department.sub_departments, 'id', 'name'), {include_blank: true}, class: "form-control", name: "employee[department_id][]" %>
	 		<% end %>
		<% end %>
	<% end %>
</div>
<div class="form-group modal-footer">
	<%= button_tag "Close", type: "button", class: "btn btn-default", data: {dismiss: "modal"} if @in_modal %>
	<%= f.submit class: "btn btn-primary", "data-loading-text" => "Saving..."%>
</div>
<% end %>
