<%= form_for @employee do |f| %>
<% unless @employee.project.blank? %>
<% @project_team_leads = Project.find(@employee.project.id).leads %>
<% else %>
<% @project_team_leads = []%>
<% end %>
<%= hidden_field "form", "in_modal", value: true %>
<div class="form-group">
    <%= f.label :project, class: "control-label" %>
    <%= select :employee, :project_id, Project.order("lower(name) asc").collect {|p| [p.name, p.id]}, {include_blank: true}, class: "form-control" %>
</div>
<div class="form-group <%= "hidden" if @project_team_leads.count <= 1 %>" id="team_lead_section">
	<%= f.label :team_lead, class: "control-label" %>
	<%= f.select :team_lead_id, @project_team_leads.collect {|p| [p.display_name, p.id]} , {include_blank: @project_team_leads.count > 1}, class: "form-control" %>
</div>
<div class="form-group">
    <%= f.label 'Roll On Date', 'Roll On Date', class: "control-label" %>
    <%= f.date_field :roll_on_date, class: "form-control", placeholder: "YYYY-MM-DD", pattern: '\d{4}-\d{2}-\d{2}', title: "YYYY-MM-DD" %>
</div>
<div class="form-group">
    <%= f.label :roll_off_date, 'Roll Off Date', class: "control-label" %>
    <%= f.date_field :roll_off_date, class: "form-control", placeholder: "YYYY-MM-DD", pattern: '\d{4}-\d{2}-\d{2}', title: "YYYY-MM-DD" %>
</div>
<div class="form-group">
    <%= f.label :project_scheduled_hours, 'Project Scheduled Hours', class: "control-label" %>
    <%= f.time_field :scheduled_hours_start, class: "form-control" %> to <%= f.time_field :scheduled_hours_end, class: "form-control" %>
</div>
<div class="form-group">
    <%= f.label :project_comments, 'Project Comments', class: "control-label" %>
    <%= f.text_area :project_comments, class: "form-control" %>
</div>
<div class="form-group modal-footer">
    <%= button_tag "Close", type: "button", class: "btn btn-default", data: {dismiss: "modal"} %>
    <%= f.submit class: "btn btn-primary", "data-loading-text" => "Saving..."%>
</div>
<% end %>