<h1>Time Off Details for <%= @employee.display_name %></h1>
<%= render "notification_section" %>
<%= render "vacation_summary" %>
<% if @fy_vacations.count > 0 %>
<div class="table-responsive">
<table class="table table-responsive table-bordered">
	<tr>
		<th><%= link_to 'Date Requested',view_employee_vacations_path(@employee, sort: :date_requested, rev: params[:rev]!='true')  %></th>
		<th><%= link_to 'Start Date',view_employee_vacations_path(@employee, sort: :start_date, rev: params[:rev]!='true')  %></th>
		<th><%= link_to 'End Date',view_employee_vacations_path(@employee, sort: :end_date, rev: params[:rev]!='true')  %></th>
		<th><%= link_to 'Total Business Days',view_employee_vacations_path(@employee, sort: :business_days, rev: params[:rev]!='true')  %></th>
		<th><%= link_to 'Type',view_employee_vacations_path(@employee, sort: :vacation_type, rev: params[:rev]!='true')  %></th>
		<% if @any_with_pending_status %>
		<th><%= link_to "Status",view_employee_vacations_path(@employee, sort: :status, rev: params[:rev]!='true')%></th>
		<th>Cancel</th>
		<% end %>
	</tr>
	<% @fy_vacations.each do |vacation| %>
	<tr>
		<td><%= vacation.date_requested.to_s(:long) unless vacation.date_requested.blank? %></td>
		<td><%= vacation.start_date.to_s(:long) unless vacation.start_date.blank? %></td>
		<td><%= vacation.end_date.to_s(:long) unless vacation.end_date.blank? %></td>
		<td><%= vacation.business_days.prettify %></td>
		<td>
			<span data-title="Reason" data-content="<%= vacation.reason %>" data-placement="left" class="<%= "reason-show" if vacation.vacation_type == 'Other' %>">
				<%= vacation.vacation_type%>
			</span>
		</td>
		<% if @any_with_pending_status %>
		<td><%= vacation.status %></td>
		<td>
			<% if vacation.status == "Pending" %>
			<%= link_to employee_vacation_path(current_user, vacation), method: :delete do %>
				<span class="glyphicon glyphicon-remove"></span>
			<% end %>
			<% end %>
		</td>
		<% end %>
	</tr>
	<% end %>
</table>
</div>
<% else %>
<h5>No PDO used.</h5>
<% end %>
<div>
	<%= link_to "Back", employee_path(@employee), class: "btn btn-default" unless current_user.role == "Consultant"%>
	<% if current_user == @employee %>
	<% unless @employee.manager.blank? %>
	<%= mail_to(@employee.manager.email, class:"btn btn-default") do %>
		<span class="glyphicon glyphicon-envelope"></span> Email manager
	<% end %>
	<% end %>
	<%= button_tag "Request time off", class: "btn btn-primary", data: {target: "#modal_2", toggle: "modal"} %>
	<% end %>
</div>

<%# Modal stuff %>
<% content_for "modal_header_1" do %>
	Time off details for <%= "FY#{@fyear}"%>
<% end %>
<% content_for "modal_content_1" do %>
	<%= render "details" %>
<% end %>
<% content_for "modal_header_2" do %>
	Request PDO
<% end %>
<% content_for "modal_content_2" do %>
	<%= render "form_request" %>
<% end %>
<%= render "modals/modal_group"%>
