= form_for :filter, html: {class: :form, role: :form, id: 'filter-form'}, url: report_calendar_path, method: :get do |f|
  = f.label :start_date, class: 'control-label'
  = f.date_field :start_date, 'value' => "#{@filter.start_date unless @filter.nil?}", class: 'form-control', required: true
  = f.label :end_date, class: 'control-label'
  = f.date_field :end_date, 'value' => "#{@filter.start_date unless @filter.nil?}", class: 'form-control', required: true
  = f.label :department, class: 'control-label'
  = f.select :department, Department.all.collect {|d| [d.name, d.id]}, {include_blank: true}, class: 'form-control'

  #vacation-checkboxes
    - [:sick, :vacation, :floating_holiday, :other].each do |vacation_type|
      = f.label vacation_type, class: 'control-label'
      = f.check_box vacation_type
  #pending-and-reasons-checkboxes
    = f.label 'Include pending?', class: 'control-label'
    = f.check_box :include_pending
    - if current_user && current_user.admin?
      = f.label 'Include reasons?', class: 'control-label'
      = f.check_box :include_reasons
  = f.submit 'Generate Report', class: 'btn btn-primary', 'data-loading-text' => 'Generating...'