<div class="calendar-header">
	<%= form_tag(:calendar,method: :get, id: "calendar-params") do %>
	<div id="calendar-date-select">
		<%= link_to calendar_path(change_month(-1)), class: "month-changer #{'disabled' if @disabled_prev_month}" do %>
			<span class="glyphicon glyphicon-chevron-left"></span>
		<% end %>
		<%= select_tag :month, options_for_select(@all_months,params[:month].blank? ? Date.current.month : params[:month]), class: "form-control" %>
		<%= select_tag :year, options_for_select(@selectable_years, params[:year].blank? ? Date.current.year : params[:year]), class: "form-control" %>
		<%= link_to calendar_path(change_month(1)), class: "month-changer #{'disabled' if @disabled_next_month}" do %>
		<span class="glyphicon glyphicon-chevron-right"></span>
		<% end %>
	</div>
	<div class="btn-group" data-toggle="buttons">
		<% unless @filter_types.length == 1 %>
		<% @filter_types.each do |filter_name| %>
		<%= label_tag nil, class: "btn btn-primary #{"active" if @selected_filter_type == filter_name}" do %>
				<input type="radio" name="filter" value="<%= filter_name %>" <%= "checked" if @selected_filter_type == filter_name %>>
				<% if filter_name == "department" %>
				<%= current_user.department.name %>
				<% else %>
				<%= filter_name.capitalize %>
				<% end %>
		<% end %>
		<% end %>
		<% end %>
		<button class="btn btn-primary expand-all" data-toggle="button">Show All</button>
	</div>
	<% end %>
</div>
<div class="table-responsive">
	<table class="table" id="vacation-calendar">
		<tr>
			<%# Auto update on starting day. %>
			<% (Date.current.beginning_of_week..Date.current.end_of_week).each do |date| %>
			<th><%= date.strftime("%A") %></th>
			<% end %>
		</tr>
		<% (@starting_date.beginning_of_month.beginning_of_week..@starting_date.end_of_month.end_of_week).each_slice(7) do |week_slice| %>
		<tr>
			<% week_slice.each do |day| %>
			<% i=0 %>
			<td class="calendar-day-cell"> <% if day.month == @starting_date.month %>
			<% orasi_holiday = get_orasi_holiday(day) %>
			<div>
				<%= content_tag :span, class: "#{"today" if day == Date.current}" do %>
					<%= day.day %>
				<% end %>
				<%= content_tag :em do %>
					<%= " " + orasi_holiday unless orasi_holiday.blank? or day.month != @starting_date.month %>
				<% end %>
			</div>
			<div>
				<ul class="list-group">
					<% @pdo_times.where(":day >= vacations.start_date and :day <= vacations.end_date",day: day).joins(:employee).order("status ASC, vacation_type ASC, employees.first_name ASC").each do |pdo_date| %>
					<% i += 1 %>
					<%= content_tag :li, class: "list-group-item #{pdo_date.vacation_type.downcase.tr_s(" ","-")} #{"list-group-item-hidden hidden" if i > @max_entries_per_day} #{"calendar-pending-vacation" if pdo_date.status == "Pending"}", title: pdo_date.vacation_type + "#{" (Pending)" if pdo_date.status == "Pending"}", data: {toggle: "tooltip", placement: "right"} do %>
						<%= pdo_date.employee.display_name %><%= " 1/2" if day == pdo_date.end_date and pdo_date.half_day %>
					<% end %>
					<% end %>
					<%= link_to "#{i - @max_entries_per_day} more #{'item'.pluralize(i-@max_entries_per_day)}...", "#", class: "btn btn-link btn-xs more-pdo" if i > @max_entries_per_day %>
					<%= link_to "Collapse", "javascript:void(0)", class: "btn btn-link btn-xs more-pdo hidden" if i > @max_entries_per_day %>
				</ul>
			</div> <% end %> </td>
			<% end %>
		</tr>

		<% end %>
	</table>
</div>
<div>
	<a href="#" class="pull-right" data-toggle="modal" data-target="#modal_1">Legend</a>
</div>
<% content_for "modal_header_1" do %>
Legend
<% end %>

<% content_for "modal_content_1" do %>
<ul class="list-group">
	<li class="list-group-item sick">
		Sick
	</li>
	<li class="list-group-item vacation">
		Vacation
	</li>
	<li class="list-group-item floating-holiday">
		Floating Holiday
	</li>
	<li class="list-group-item other">
		Other
	</li>
	<li class="list-group-item sick calendar-pending-vacation">
		Sick (Pending)
	</li>
	<li class="list-group-item vacation calendar-pending-vacation">
		Vacation (Pending)
	</li>
	<li class="list-group-item floating-holiday calendar-pending-vacation">
		Floating Holiday (Pending)
	</li>
</ul>
<div class="modal-footer">
	<%= button_tag "Close", type: "button", class: "btn btn-default", data: {dismiss: "modal"}%>
</div>
<% end %>
<%= render 'modals/modal_group' %>
