<table class="table">
	<tr>
		<th>Name</th>
		<th>Start Date</th>
		<th>End Date</th>
		<th>Department</th>
		<th>Vacation Type</th>
		<th>Business Days</th>
	</tr>
	<% @vacations.each do |vacation| %>
	<% end_date = [Date.parse(params["filter"]["end_date"]),vacation.end_date].min %>
	<% start_date = [Date.parse(params["filter"]["start_date"]),vacation.start_date].max %>
	<tr>
		<td><%= vacation.employee.display_name %></td>
		<td><%= start_date %></td>
		<td><%= end_date %></td>
		<td><%= vacation.employee.department.name %></td>
		<td><%= vacation.vacation_type %></td>
		<td><%= calc_business_days_for_range(start_date, end_date) - ((vacation.half_day and end_date == vacation.end_date) ? 0.5 : 0) %></td>
	</tr>
	<% end %>
</table>
