<div style="padding: 10px;">
	<span>Download <%= link_to "XLS", report_calendar_path(params.merge(format: :xls)) %></span>
</div>
<table class="table">
	<tr>
		<% ['Name','Start Date','End Date','Department','Vacation Type','Business Days'].each do |header| %>
			<th><%= link_to header,report_calendar_path(sort: header.downcase.tr_s(" ","_"), rev: params[:rev]!='true', filter: params['filter']) %></th>
		<% end %>
	</tr>
	<% @vacations.each do |vacation| %>
	<% end_date = [Date.parse(params["filter"]["end_date"]),vacation.end_date].min %>
	<% start_date = [Date.parse(params["filter"]["start_date"]),vacation.start_date].max %>
	<tr>
		<td><%= vacation.employee.display_name %></td>
		<td><%= start_date %></td>
		<td><%= end_date %></td>
		<td><%= vacation.employee.department.name unless vacation.employee.department.blank? %></td>
		<td><%= vacation.vacation_type %></td>
		<td><%= calc_business_days_for_range(start_date, end_date) - ((vacation.half_day and end_date == vacation.end_date) ? 0.5 : 0) %></td>
	</tr>
	<% end %>
</table>
<% if @page_count > 1 %>
<div>
	<ul class="pagination">
	  <%= content_tag :li, class: ("disabled" if @activePage == 0) do %>
			<%= link_to "&laquo;".html_safe, report_calendar_path(params.merge("pgn" => @activePage.to_i)) %>
		<% end %>

		<% if @activePage > (@max_pagination_pages/2) %>
			<% if @activePage < @page_count-(@max_pagination_pages/2-1) %>
				<% range = (@activePage-(@max_pagination_pages/2)..@activePage+(@max_pagination_pages/2-1)) %>
			<% else %>
				<% range = ([@page_count-(@max_pagination_pages-1),1].max..@page_count) %>
			<% end %>
		<% else %>
			<% range = (1..@page_count) %>
		<% end %>

		<% range.first(@max_pagination_pages).each do |num| %>
			<%= content_tag :li, class: (if @activePage == num-1 then "active" end) do %>
				<%= link_to num, report_calendar_path(params.merge("pgn" => num)) %>
			<% end %>
		<% end %>

	  <%= content_tag :li, class: ("disabled" if @activePage == @page_count-1) do %>
		  <%= link_to "&raquo;".html_safe, report_calendar_path(params.merge("pgn" => @activePage.to_i+2)) %>
		<% end %>
	</ul>
</div>
<% end %>
