<% depth += 1 %>
<% dept.sub_departments.each do |sub_dept| %>
	<%= content_tag :li, class: "list-group-item", style: "margin-left: #{@margin*depth}px;" do -%>
		<%= sub_dept.name %>
		<%= link_to "Add Subdepartment", new_department_path(parent_dept: sub_dept.id) %>
		<div class="pull-right">
		<%= link_to edit_department_path(sub_dept) do %>
		  <span class="glyphicon glyphicon-pencil"></span>
		<% end %>
		<%= link_to department_path(sub_dept), method: :delete do %>
		  <span class="glyphicon glyphicon-trash"></span>
		<% end %>
		</div>
	<% end %>
	<% unless sub_dept.sub_departments.blank? %>
		<%= render "sub_dept_layout", depth: depth, dept: sub_dept %>
	<% end %>
<% end %>
<% depth -= 1 %>