<% content_for :table do %>
<script type="text/javascript" src="http://www.skypeassets.com/i/scom/js/skype-uri.js"></script>
<tr ng-init="role='<%=current_user.role%>';filteredDepartment=''">
	<th><%= link_to "First Name", "#", 'ng-click' => "predicate='first_name'; reverse=!reverse; search()" %></th>
	<th><%= link_to "Last Name", "#", 'ng-click' => "predicate='last_name'; reverse=!reverse; search()" %></th>
	<th><%= link_to "Supervisor", "#", "ng-click" => "predicate='manager.last_name'; reverse=!reverse; search()"%></th>
	<th ng-show='filteredDepartment==""'><%= link_to "Department", "#", "ng-click" => "predicate='department'; reverse=!reverse; search()"%></th>
	<th><%= link_to "Office Phone", "#", 'ng-click' => "predicate='office_phone'; reverse=!reverse; search()"%></th>
	<th><%= link_to "Cell Phone", "#", 'ng-click' => "predicate='cell_phone'; reverse=!reverse; search()"%></th>
	<th><%= link_to "IM Name", "#", 'ng-click' => "predicate='im_name'; reverse=!reverse; search()"%></th>
</tr>
  <script type="text/javascript">
    show_skype = function () {}
  </script>
<tr ng-repeat="employee in pagedEmployees[currentPage]">
	<td><a href="mailto:{{employee.email}}">{{employee.first_name}}</a></td>
	<td><a href="mailto:{{employee.email}}">{{employee.last_name}}</a></td>
	<td><a href="mailto:{{employee.manager.email}}">{{employee.manager_name}}</a></td>
	<td ng-show='filteredDepartment==""'>{{employee.department}}</td>
	<td>{{employee.office_phone}}</td>
	<td>{{employee.cell_phone}}</td>
	<td>{{employee.im_name}} 
		<span ng-show='employee.im_client'>
			<img data-toggle="tooltip" data-placement="right" title="{{employee.im_client_full}}" src="/assets/<%= asset_path "{{employee.im_client}}.png" %>" class="im-client-logo pull-right" width="20px" onload="$(this).tooltip();">
		</span>
	</td>
</tr>
<% end %>

<% content_for :welcome_msg do %>
<span ng-show="filteredDepartment==''">Orasi Directory</span>
<span ng-hide="filteredDepartment==''"><%= current_user.department unless current_user.department.blank? %> Directory</span>
<% end %>

<% content_for :header_btns do %>
<% unless current_user.department.blank? %>
<div class="btn-group" data-toggle="buttons">
	
	<%= label_tag :department, class: "btn btn-primary", 'ng-click' => "filteredDepartment='#{current_user.department}';search()" do %>
		<input type="radio" name="options" id="option1"><%= current_user.department %>
	<% end %>
	
	<%= label_tag :department, class: "btn btn-primary active", 'ng-click' => "filteredDepartment='';search()" do %>
		<input type="radio" name="options" id="option2">All
	<% end %>
</div>
<% end %>
<% end %>

<% content_for :footer do %>
<%= link_to "Back", :root %>
<% end %>
