<% content_for :table do %>

    <% skype_pic = asset_path "skype.png" %>
    <% google_pic = asset_path "google talk.png" %>
    <% windows_pic = asset_path "windows messenger.png" %>
    <% aim_pic = asset_path "aim.png" %>
    <% irc_pic = asset_path "irc.png" %>

    <tr ng-init="role='<%= current_user.role %>';filteredDepartment=''">
      <th>
        <%= link_to "First Name", "#", 'ng-click' => "predicate='first_name'; reverse=!reverse; search()" %>
        <%= render partial: "application/ascending_descending_icon", locals: {predicate: "first_name", numeric: false} %>
      </th>
      <th>
        <%= link_to "Last Name", "#", 'ng-click' => "predicate='last_name'; reverse=!reverse; search()" %>
        <%= render partial: "application/ascending_descending_icon", locals: {predicate: "last_name", numeric: false} %>
      </th>
      <th>
        <%= link_to "Supervisor", "#", "ng-click" => "predicate='manager.first_name'; reverse=!reverse; search()" %>
        <%= render partial: "application/ascending_descending_icon", locals: {predicate: "manager.first_name", numeric: false} %>
      </th>
      <th ng-show='filteredDepartment==""'>
        <%= link_to "Department", "#", "ng-click" => "predicate='department.name'; reverse=!reverse; search()" %>
        <%= render partial: "application/ascending_descending_icon", locals: {predicate: "department.name", numeric: false} %>
      </th>
      <th>
        <%= link_to "Office Phone", "#", 'ng-click' => "predicate='office_phone'; reverse=!reverse; search()" %>
        <%= render partial: "application/ascending_descending_icon", locals: {predicate: "office_phone", numeric: true} %>
      </th>
      <th>
        <%= link_to "Cell Phone", "#", 'ng-click' => "predicate='cell_phone'; reverse=!reverse; search()" %>
        <%= render partial: "application/ascending_descending_icon", locals: {predicate: "cell_phone", numeric: true} %>
      </th>
      <th>
        <%= link_to "IM Name", "#", 'ng-click' => "predicate='im_name'; reverse=!reverse; search()" %>
        <%= render partial: "application/ascending_descending_icon", locals: {predicate: "im_name", numeric: false} %>
      </th>
    </tr>
    <tr ng-repeat="employee in pagedResources[currentPage]">
      <td><a href="mailto:{{employee.email}}">{{employee.first_name}}</a></td>
      <td><a href="mailto:{{employee.email}}">{{employee.last_name}}</a></td>
      <td><a href="mailto:{{employee.manager.email}}">{{employee.manager.display_name}}</a></td>
      <td ng-show='filteredDepartment==""'>{{employee.department.name}}</td>
      <td>{{employee.office_phone}}</td>
      <td>{{employee.cell_phone}}</td>
      <td><span>{{employee.im_name}}</span>
		<span ng-show='employee.im_client && employee.im_name'>
			<span ng-if="employee.im_client=='Skype'">
				<img data-toggle="tooltip" data-placement="right" title="{{employee.im_client}}" src="<%= skype_pic %>" class="im-client-logo pull-right" width="20px" onload="$(this).tooltip();">
			</span>
			<span ng-if="employee.im_client=='Google Talk'">
				<img data-toggle="tooltip" data-placement="right" title="{{employee.im_client}}" src="<%= google_pic %>" class="im-client-logo pull-right" width="20px" onload="$(this).tooltip();">
			</span>
			<span ng-if="employee.im_client=='Windows Messenger'">
				<img data-toggle="tooltip" data-placement="right" title="{{employee.im_client}}" src="<%= windows_pic %>" class="im-client-logo pull-right" width="20px" onload="$(this).tooltip();">
			</span>
			<span ng-if="employee.im_client=='AIM'">
				<img data-toggle="tooltip" data-placement="right" title="{{employee.im_client}}" src="<%= aim_pic %>" class="im-client-logo pull-right" width="20px" onload="$(this).tooltip();">
			</span>
			<span ng-if="employee.im_client=='IRC'">
				<img data-toggle="tooltip" data-placement="right" title="{{employee.im_client}}" src="<%= irc_pic %>" class="im-client-logo pull-right" width="20px" onload="$(this).tooltip();">
			</span>
		</span>
      </td>
    </tr>
<% end %>

<% content_for :welcome_msg do %>
    <div ng-cloak>
      <span ng-show="filteredDepartment==''">Orasi Directory</span>
      <span ng-hide="filteredDepartment=='' || !loaded"><%= "#{current_user.department.name} Directory" unless current_user.department.blank? %></span>
    </div>
<% end %>

<% content_for :header_btns do %>
    <% unless current_user.department.blank? %>
        <div class="btn-group" data-toggle="buttons">

          <%= label_tag :department, class: "btn btn-primary", 'ng-click' => "filteredDepartment = '#{current_user.department.name}';getAllEmployees(#{current_user.department.id})" do %>
              <input type="radio" name="options" id="option1"><%= current_user.department.name %>
          <% end %>

          <%= label_tag :department, class: "btn btn-primary active", 'ng-click' => "filteredDepartment = '';getAllEmployees()" do %>
              <input type="radio" name="options" id="option2">All
          <% end %>
        </div>
    <% end %>
<% end %>

<% content_for :footer do %>
    <%= link_to "Back", :root %>
<% end %>
