<%= form_for :employee, url: "employee/new", method: :post do |f| %>
<div class="form-group">
	<%= f.label :first_name, class: "control-label" %>
	<%= f.text_field :first_name, class: "form-control", required: true %>
</div>
<div class="form-group">
	<%= f.label :last_name, class: "control-label" %>
	<%= f.text_field :last_name, class: "form-control", required: true %>
</div>
<div class="form-group">
	<%= f.label :role, class: "control-label" %>
	<%= f.select :role, ["Consultant","Manager","Director"], {},class: "form-control" %>
</div>
<div class="form-group">
	<%= f.label :level, class: "control-label" %>
	<%= f.text_field :level, class: "form-control" %>
</div>
<div class="form-group">
	<%= f.label :manager, class: "control-label"%>
	<%= select :employee, :manager_id, Employee.all.order(:first_name).find_all {|f| f.is_manager_or_higher? }.collect {|f| [f.display_name, f.id]}, { include_blank: true }, class: "form-control" %>
</div>
<div class="form-group">
	<%= f.label :start_date, class: "control-label" %>
	<%= f.date_field :start_date, class: "form-control", placeholder: "YYYY-MM-DD", pattern: '\d{4}-\d{2}-\d{2}', title: "YYYY-MM-DD" %>
</div>
<div class="form-group">
	<%= button_tag "Close", type: "button", class: "btn btn-default", data: {dismiss: "modal"} if @in_modal %>
	<%= f.submit class: "btn btn-primary"%>
</div>
<% end %>
