<h1>Time Off Details for <%= current_user.display_name %></h1>
<div class="vacation-summary-table">
	<span><%= "#{current_user.sick_days_taken.prettify}/#{current_user.max_sick_days}" %> Sick Days</span>
	<span><%= "#{current_user.vacation_days_taken.prettify}/#{current_user.max_vacation_days}" %> Vacation Days</span>
	<span><%= "#{current_user.floating_holidays_taken.prettify}/#{current_user.max_floating_holidays}" %> Floating Holidays</span>
</div>
<table class="table table-responsive table-bordered">
	<tr>
		<th><%= link_to 'Date Requested',consultant_vacation_path(current_user, sort: :date_requested, rev: params[:rev]!='true')  %></th>
		<th><%= link_to 'Start Date',consultant_vacation_path(current_user, sort: :start_date, rev: params[:rev]!='true')  %></th>
		<th><%= link_to 'End Date',consultant_vacation_path(current_user, sort: :end_date, rev: params[:rev]!='true')  %></th>
		<th><%= link_to 'Total Business Days',consultant_vacation_path(current_user, sort: :business_days, rev: params[:rev]!='true')  %></th>
		<th><%= link_to 'Type',consultant_vacation_path(current_user, sort: :vacation_type, rev: params[:rev]!='true')  %></th>
		<th>Half Day</th>
	</tr>
	<% current_user.vacations.order("#{params[:sort].blank? ? :date_requested : params[:sort]} #{params[:rev]!='true' ? 'ASC' : 'DESC'}").each do |vacation| %>
	<tr>
		<td><%= vacation.date_requested %></td>
		<td><%= vacation.start_date %></td>
		<td><%= vacation.end_date %></td>
		<td><%= vacation.business_days.prettify %></td>
		<td><%= vacation.vacation_type %></td>
		<td><%= vacation.half_day.to_s.capitalize %></td>
	</tr>
	<% end %>
</table>
<%= mail_to current_user.manager.email, "Email manager", class: "btn btn-default" unless current_user.manager.blank? %>
