<% content_for :table do %>
<tr ng-init="role='<%=current_user.role%>'">
	<th><%= link_to "First Name", "#", 'ng-click' => "predicate='first_name'; reverse=!reverse; search()" %></th>
	<th><%= link_to "Last Name", "#", 'ng-click' => "predicate='last_name'; reverse=!reverse; search()" %></th>
	<th><%= link_to "Role", "#", 'ng-click' => "predicate='role'; reverse=!reverse; search()"%></th>
	<th><%= link_to "Supervisor", "#", "ng-click" => "predicate='manager.last_name'; reverse=!reverse; search()"%></th>
	<th><%= link_to "Project", "#", 'ng-click' => "predicate='project.name'; reverse=!reverse; search()"%></th>
</tr>
<tr ng-repeat="employee in pagedEmployees[currentPage]">
	<td><%= link_to '{{employee.first_name}}', "employee/{{employee.id}}"%></td>
	<td><%= link_to '{{employee.last_name}}', "employee/{{employee.id}}"%></td>
	<td>{{employee.role}}</td>
	<td><%= link_to '{{employee.manager_name}}', "employee/{{employee.manager_id}}"%></td>
	<td ng-show="employee.project.name"><%= link_to '{{employee.project.name}}', "project/{{employee.project_id}}"%></td>
	<td ng-hide="employee.project.name">Not billable</td>
</tr>
<% end %>

<% content_for :welcome_msg do %>
Welcome, <%= link_to current_user.first_name.capitalize, current_user %>.
<% end %>

<% content_for :header_btns do %>
<div class="btn-group" data-toggle="buttons">
	<label class="btn btn-primary active" ng-click="current_id='';search()">
		<input type="radio" name="options" id="option1" >
		All </label>
	<label class="btn btn-primary" ng-click="current_id='<%= current_user.id %>';search()">
		<input type="radio" name="options" id="option2">
		Filtered </label>
</div>
<% end %>
