<h1>Welcome, <%= "#{current_user.first_name.capitalize}"%>.</h1>
<table cellspacing="10">
	<tr>
		<th>Name</th>
		<th>Role</th>
		<th>Supervisor</th>
		<th>Project</th>
	</tr>
	<% current_user.subordinates.order(last_name: :asc, first_name: :asc).each do |employee| %>
	<tr>
		<td><%= link_to employee.display_name, "employee/#{employee.id}" %></td>
		<td><%= employee.role unless employee.role.nil? %></td>
		<td><%= link_to employee.manager.display_name, "employee/#{employee.manager.id}" unless employee.manager.nil? %></td>
		<td><%= employee.project.capitalize unless employee.project.nil? %></td>
	</tr>
	<% end %>
</table>
<%= link_to "Logout", :logout %>
