<h1>Welcome, <%= "#{current_user.first_name.capitalize}"%>.</h1>
<table cellspacing="10">
	<tr>
		<th>Name</th>
		<th>Role</th>
		<th>Supervisor</th>
		<th>Project</th>
	</tr>
	<% current_user.subordinates.order(last_name: :asc, first_name: :asc).each do |user| %>
	<tr>
		<td><%= link_to user.display_name, "user/#{user.id}" %></td>
		<td><%= user.role unless user.role.nil? %></td>
		<td><%= link_to user.manager.display_name, "user/#{user.manager.id}" unless user.manager.nil? %></td>
		<td><%= user.project.capitalize unless user.project.nil? %></td>
	</tr>
	<% end %>
</table>
<%= link_to "Logout", :logout %>
