<h1>Login</h1>
<%= form_for @user, url: :check_login do |u| %>
  <% if @user.errors.any? %>
    <%= @user.errors.messages %>
  <% end %>
  Username: <%= u.text_field :username, required: true, placeholder: 'john.doe', pattern: '^\w+\.\w+$', title: 'firstname.lastname', autofocus: true %><br />
  Password: <%= u.password_field :password, required: true %><br />
  <%= u.submit 'Login' %>
<% end %>
<%= flash[:error] %>