<h1>Login</h1>
<%= form_for @employee, url: :check_login, html: {role: "form", class: "form-horizontal"} do |u| %>
<% if @employee.errors.any? %>
	<div id="error_explanation">
		<h2><%= pluralize(@employee.errors.count, "error") %> prohibited you from logging in:</h2>
		<ul>
			<% @employee.errors.full_messages.each do |msg| %>
			<li>
				<%= msg %>
			</li>
			<% end %>
		</ul>
	</div>
<% end %>
<div class="container login-form">
	<div class="form-group">
		<%= u.label :username %>
		<%= u.text_field :username, required: true, autofocus: true, class: "form-control" %>
	</div>
	<div class="form-group">
		<%= u.label :password %>
		<%= u.password_field :password, required: true, class: "form-control" %>
	</div>
	<div class="form-group">
		<%= u.submit 'Login', class: "btn btn-primary" %>
	</div>
</div>
<% end %>
<%= flash[:error] %>