<%= form_for @project, url: project_path(@project) do |f| %>
<div class="form-group">
	<%= f.label :name, class: "control-label" %>
	<%= f.text_field :name, class: "form-control", required: true %>
</div>
<div class="form-group">
	<%= f.label :client_partner, class: "control-label" %>
	<%= f.select :client_partner_id, Employee.where(role: ["Manager","Director","AVP"]).order(first_name: :asc).collect {|p| [p.display_name, p.id] }, {include_blank: true}, class: "form-control" %>	
</div>
<%= f.label 'Team Lead(s)', class: "control-label team-lead-section" %>
<% Employee.where(project_id: @project.id, project_lead: true).order(first_name: :asc).each do |lead| %>
<div class="form-group team-lead-section">
<%= f.select :leads, Employee.where(role: ["Consultant","Manager","Director","AVP"]).order(first_name: :asc).collect {|p| [p.display_name, p.id] }, {include_blank: true, selected: lead.id},  name: "project[leads][]", class: "form-control additional-lead-field"%>
<span class="glyphicon glyphicon-remove"></span>
</div>
<% end %>
<div>
	<script type="text/javascript">
	$(document).on("ready", function() {
	  $("#add-team-lead").on("click", function() {
	    $(".team-lead-section").last().after('<div class="form-group team-lead-section"><%= f.select(:leads, Employee.all.order(first_name: :asc).collect {|p| [p.display_name, p.id] }, {}, name: "project[leads][]", class: "form-control additional-lead-field", style: "margin-right:5px;").tr_s("\n","").html_safe %><span class="glyphicon glyphicon-remove"></span></div>');
	    return $(".glyphicon-remove").on("click", function() {
	      return $(this).parent().remove();
	    });
	  });
	  return $(".glyphicon-remove").on("click", function() {
	    return $(this).parent().remove();
	  });
	});	
	</script>
	<button class="btn btn-default form-control" id="add-team-lead" type="button" style="margin-bottom:5px;"><span class="glyphicon glyphicon-plus">Add</span></button>
	<div class="clearfix"></div>
</div>
<div class="form-group">
	<%= f.label :status, class: "control-label" %>
	<%= f.select :status, ["Active", "Inactive", "Pending"], {}, class: "form-control" %>
</div>
<div class="form-group">
	<%= f.label :start_date, class: "control-label" %>
	<%= f.date_field :start_date, class: "form-control", placeholder: "YYYY-MM-DD", pattern: '\d{4}-\d{2}-\d{2}', title: "YYYY-MM-DD" %>	
</div>
<div class="form-group">
	<%= f.label :end_date, class: "control-label" %>
	<%= f.date_field :end_date, class: "form-control", placeholder: "YYYY-MM-DD", pattern: '\d{4}-\d{2}-\d{2}', title: "YYYY-MM-DD" %>	
</div>
<div class="form-group modal-footer">
	<%= button_tag "Close", type: "button", class: "btn btn-default", data: {dismiss: "modal"} if @in_modal %>
	<%= f.submit class: "btn btn-primary"%>
</div>
<% end %>
