<% content_for :table do %>
<tr>
	<th>
      <%= link_to "Project Name", "#", 'ng-click' => "predicate='name'; reverse=!reverse; search()" %>
      <%= render partial: "application/ascending_descending_icon", locals: {predicate: "name", numeric: false} %>
    </th>
	<th>
      <%= link_to "Client Partner", "#", 'ng-click' => "predicate='client_partner.display_name';  reverse=!reverse; search() "%>
      <%= render partial: "application/ascending_descending_icon", locals: {predicate: "client_partner.display_name", numeric: false} %>
    </th>
	<th>
      <%= link_to "Team Leads", "#", 'ng-click' => "predicate='all_leads';  reverse=!reverse; search() "%>
      <%= render partial: "application/ascending_descending_icon", locals: {predicate: "all_leads", numeric: false} %>
    </th>
	<th>
      <%= link_to "Status", "#", 'ng-click' => "predicate='status'; reverse=!reverse; search()" %>
      <%= render partial: "application/ascending_descending_icon", locals: {predicate: "status", numeric: false} %>
    </th>
</tr>
<tr ng-repeat="project in pagedResources[currentPage] ">
	<td><%= link_to '{{project.name}}', "projects/{{project.id}}"%></td>
	<td>{{project.client_partner.display_name}}</td>
	<td>{{project.all_leads}}</td>
	<td>{{project.status}}</td>
</tr>
<% end %>
<% content_for :header_btns do %>
<% unless Project.where(status: "Inactive").count == 0 %>
<div class="btn-group" data-toggle="buttons">
	<label class="btn btn-primary" ng-click="show_inactive=!show_inactive;search()">
		<input type="checkbox" name="options" id="option1">Show Inactives</label>
</div>
<% end %>
<% if current_user.upper_management? %>
<div class="btn-group">
	<%= button_tag "Add", class: "btn btn-default", data: {toggle: "modal", target: "#modal_1"} %>
</div>
<% end %>
<% end %>
<% content_for :footer do %>
	<% content_for "modal_header_1" do %>
		Add <%= @resource_for_angular.blank? ? controller_name.capitalize : @resource_for_angular.capitalize %>
	<% end %>
	<% content_for "modal_content_1" do %>
		<% @in_modal = true %>
		<%= render "add_form" %>
	<% end %>
	<%= render "modals/modal_group" %>
<%= link_to "Back", :root %>
<% end %>
