<% content_for 'panel_title_1' do %>Project Info<% end %>
<% content_for 'panel_heading_1' do %>
<%= button_tag "Manage", class: "btn btn-default btn-xs pull-right", data: {toggle: "modal", target: "#modal_1"} if current_user.is_upper_management? %>
<% end %>
<% content_for 'panel_body_1' do %>
<table class="table table-responsive">
	<tr>
		<td>Team Leads</td>
		<% @all_leads = [] %>
		<% @project.leads.each do |lead| %>
		<% @all_leads << lead.display_name unless lead.blank? %>
		<% end %>
		<td><%= @all_leads.sort.join(", ") %></td>
	</tr>
	<tr>
		<td>Start Date</td>
		<td><%= @project.start_date %></td>
	</tr>
	<tr>
		<td>Projected End Date</td>
		<td><%= @project.end_date %></td>
	</tr>
	<tr>
		<td>Project Status</td>
		<td><%= @project.status %></td>
	</tr>
</table>
<% end %>

<% content_for :footer do %>
<%= link_to "Back", :projects %>
<% end %>

<% content_for "modal_header_1" do %>
Manage Project
<% end %>

<% content_for "modal_content_1" do %>
<% @in_modal = true %>
<%= render "form" %>
<% end %>

<%= render "modals/modal_group"%>
<%= render "panel_group" %>
