<%= form_for @project do |f| %>
<div class="form-group">
	<%= f.label :name, class: "control-label" %>
	<%= f.text_field :name, class: "form-control", required: true %>
</div>
<div class="form-group">
	<%= f.label 'Team Lead', class: "control-label" %>
	<%= f.select :lead_id, Employee.all.order(first_name: :asc).collect {|p| [p.display_name, p.id] }, {include_blank: true}, class: "form-control"%>
</div>
<div class="form-group">
	<%= f.label :status, class: "control-label" %>
	<%= f.select :status, ["Active", "Inactive", "Pending"], {}, class: "form-control" %>
</div>
<div class="form-group">
	<%= f.label :start_date, class: "control-label" %>
	<%= f.date_field :start_date, class: "form-control" %>	
</div>
<div class="form-group">
	<%= f.label :end_date, class: "control-label" %>
	<%= f.date_field :end_date, class: "form-control" %>	
</div>
<div class="form-group">
	<%= button_tag "Close", type: "button", class: "btn btn-default", data: {dismiss: "modal"} if @in_modal %>
	<%= f.submit class: "btn btn-primary"%>
</div>
<% end %>
