<% content_for 'panel_title_1' do %>Project Info<% end %>
<% content_for 'panel_heading_1' do %>
<%= link_to "Manage", "edit/#{@project.id}", class: "btn btn-default btn-xs pull-right" if current_user.is_upper_management? %>
<% end %>
<% content_for 'panel_body_1' do %>
<table class="table table-responsive">
	<tr>
		<td>Team Lead</td>
		<td><%= @project.lead.display_name unless @project.lead.blank? %></td>
	</tr>
	<tr>
		<td>Start Date</td>
		<td><%= @project.start_date %></td>
	</tr>
	<tr>
		<td>Projected End Date</td>
		<td><%= @project.projected_end %></td>
	</tr>
	<tr>
		<td>Project Status</td>
		<td><%= @project.status %></td>
	</tr>
</table>
<% end %>
<% content_for :footer do %>
<%= link_to "Back", :projects %>
<% end %>
<%= render "panel_group" %>
