<h1>Listing titles</h1>
<%= render "notification_section" %>
<% unless @titles.count == 0 %>
<table class="table table-responsive table-bordered">
	<thead>
		<tr>
			<th>Title</th>
		</tr>
	</thead>

	<tbody>
		<% @titles.each do |title| %>
		<tr>
			<td> <%= title.name %>
			<div class="pull-right">
				<%= link_to edit_admin_title_path(title) do %>
					<span class="glyphicon glyphicon-pencil"></span>
				<% end %>
				<%= link_to admin_title_path(title), method: :delete, data: { confirm: 'Are you sure?' } do %>
					<span class="glyphicon glyphicon-trash"></span>
				<% end %>
			</div></td>
		</tr>
		<% end %>
	</tbody>
</table>
<% end %>
<br>

<%= link_to 'New Title', new_admin_title_path %>
