$(document).on "ready", ->
  $("#employee_role,#employee_status").on "change", ->
    levels_select = $("#employee_level")
    levels_select.empty()
    switch $("#employee_role").val()
      when "Consultant"
        levels = <%= Employee.levels(:consultant) %>
      when "Manager"
        levels = <%= Employee.levels(:manager) %>
      when "Director"
        levels = <%= Employee.levels(:director) %>
      when "AVP"
        levels = <%= Employee.levels(:avp) %>
      else
        levels = <%= Employee.levels(:else) %>
    unless $("#employee_status").val() == 'Contractor'
      for level in levels
        levels_select.append("<option value=\"#{level}\">#{level}</option>")
    