<%= form_for :search, method:"post", url:"/search", html: {class: "form-horizontal", role: "form", id: "search-form"} do |f| %>
	<div class="form-group">
		<%= f.label :employee_email, "Employee Email", class: "control-label search" %>
		<%= f.text_field :employee_email, class: "form-control", required: true %> 
	</div>
	<div class="form-group">
		<%= f.label :admin_password, "Admin Password", class: "control-label search" %>
		<%= f.password_field :admin_password, class: "form-control", required: true %> 
	</div>
	<div class="modal-footer">
		<%= button_tag "Close", type: "button", class: "btn btn-default", data: {dismiss: "modal"} %>
		<%= submit_tag "Send", class: "btn btn-primary", "data-loading-text" => "Sending..."%>
	</div>
<% end %>