<h1>Project History for <%= @employee.display_name %></h1>
<%= render "notification_section" %>
<%= form_for :project_history, method: :patch do |f| %>
<table class="table table-bordered">
	<tr>
		<th>Project Name</th>
		<th>Roll On Date</th>
		<th>Roll Off Date</th>
		<th>Scheduled Hours</th>
		<th>Edit</th>
		<th>Delete</th>
	</tr>
	<% @employee.projects.each do |employee_project| %>
	<tr>
	<%= content_tag :tr, id: "#{employee_project.id}" do -%>
		<td>
			<span class="data-field"><%= employee_project.project.name %></span>
			<%= f.select :project_id, options_from_collection_for_select(Project.all, "id", "name", employee_project.project.id), {include_blank: true}, class: "form-control edit-field", name: "#{employee_project.id}[project_history][project_id]" %>
		</td>
		<td>
			<span class="data-field"><%= employee_project.roll_on_date %></span>
			<%= date_field_tag nil, employee_project.roll_on_date, class: "date-field edit-field", placeholder: "YYYY-MM-DD", pattern: '\d{4}-\d{2}-\d{2}', title: "YYYY-MM-DD", name: "#{employee_project.id}[project_history][roll_on_date]" %>
		</td>
		<td>
			<span class="data-field"><%= employee_project.roll_off_date %></span>
			<%= date_field_tag nil, employee_project.roll_off_date, class: "date-field edit-field", placeholder: "YYYY-MM-DD", pattern: '\d{4}-\d{2}-\d{2}', title: "YYYY-MM-DD", name: "#{employee_project.id}[project_history][roll_off_date]" %>
		</td>
		<td>
			<span class="data-field"><%= employee_project.scheduled_hours %></span>
			<%= number_field_tag nil, employee_project.scheduled_hours, class: "edit-field", name: "#{employee_project.id}[project_history][scheduled_hours]", value: employee_project.scheduled_hours %>
		</td>
		<td>
			<%= link_to "#", class: 'edit-btn' do %>
				<span class="glyphicon glyphicon-pencil"></span>	
			<% end %>
			<%= submit_tag "Update Project", class: "btn btn-primary btn-xs update-btn", data: {method: :patch, "form-action" => employee_project_history_path(@employee, employee_project)} %>
		</td>
		<td>
			<%= link_to employee_project_history_path(@employee, employee_project), method: :delete, data: {confirm: "Are you sure you want to delete this?"} do %>
				<span class="glyphicon glyphicon-trash"></span>
			<% end %>
		</td>
	<% end %>
	<% end %>
	<tr id="new">
		<td><%= f.select :project_id, options_from_collection_for_select(Project.all, "id", "name"), {}, class: "form-control", style: "height: 22px;", name: "new[project_history][project_id]" %></td>
		<td><%= f.date_field :roll_on_date, placeholder: "YYYY-MM-DD", pattern: '\d{4}-\d{2}-\d{2}', title: "YYYY-MM-DD", name: "new[project_history][roll_on_date]" %></td>
		<td><%= f.date_field :roll_off_date, class: "date-field", placeholder: "YYYY-MM-DD", pattern: '\d{4}-\d{2}-\d{2}', title: "YYYY-MM-DD", name: "new[project_history][roll_off_date]" %></td>
		<td><%= f.number_field :scheduled_hours, name: "new[project_history][scheduled_hours]" %></td>
		<td colspan="2" id="save-new-project"><%= submit_tag "Save Project", class: "btn btn-primary btn-xs", data: {method: :post} %></td>
	</tr>
</table>
<% end %>
<%= link_to "Back", employee_path(@employee) %>