<%= form_for @report do |f| %>
<%= f.text_field :name, class: "form-control", placeholder: "Name" %>
<table class="table">
	<tr>
		<th>Column Name</th>
		<th>Operator</th>
		<th>Text</th>
	</tr>
	<% unless @report.query_data.blank? %>
	<% @report.query_data.each do |q| %>
	<%= render partial: "form_section", locals: {selected_column: q["column_name"], selected_operator: q["operator"], text: q["text"]}  %>
	<% end %>
	<% else %>
	<%= render partial: "form_section", locals: {selected_column: nil, selected_operator: nil, text: nil}  %>
	<% end %>
</table>
<div style="margin-bottom: 10px;">
<%= link_to stuff_path(format: "js"), class: "btn btn-default", style: "width:100%", remote: true do %>
<span class="glyphicon glyphicon-plus-sign">Add</span>
<% end %>
</div>
<%= f.submit class: "btn btn-primary"%>
<% end %>

