<h1><%= @report.name %></h1>
<div class="table-responsive">
	<table class="table table-bordered table-condensed table-hover">
		<tr>
			<% @keys.each do |key| %>
			<th><%= key.humanize %></th>
			<% end %>
		</tr>
		<% @table_data.each do |employee| %>
		<tr>
			
			<% @keys.each do |key| %>
			<% if employee.methods.include? key.to_sym %>
			<td><%= employee.send(key) %></td>
			<% elsif key == 'Display Name' %>
			<td><%= employee.display_name %></td>
			<% elsif key.in? employee_associations %>
			<td><%= employee.send(key.downcase.singularize).name unless employee.send(key.downcase.singularize).blank? %></td>
			<% end %>
			<% end %>
		</tr>
		<% end %>
	</table>
</div>
<%= link_to :Back, reports_path %>
