<h1><%= @report.name %></h1>
<div class="table-responsive">
	<table class="table table-bordered table-condensed table-hover">
		<tr>
			<% @report.query_data.collect {|r| r["column_name"] if r["show"] }.compact.each do |key| %>
			<th><%= key %></th>
			<% end %>
		</tr>
		<% @table_data.each do |employee| %>
		<tr>
			<% @report.query_data.collect {|r| r["column_name"] if r["show"]}.compact.each do |key| %>
			<% if employee.methods.include? key.to_sym %>
			<td><%= employee.send(key) %></td>
			<% else %>
			<td><%= employee.project.name unless employee.project.blank? %></td>
			<% end %>
			<% end %>
		</tr>
		<% end %>
	</table>
</div>
<%= link_to :Back, reports_path %>
