<!DOCTYPE html>
<html>
	<head>
		<title>Orasi Manager's Portal</title>
		<%= stylesheet_link_tag    "application", media: "all"%>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<header>
			<div class="container">
				<nav class="navbar navbar-default" role="navigation">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<%= image_tag "logo.png", class: "img-responsive brand", width: "50px", style: "padding: 5px" %>
					</div>

					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<% unless current_user.blank? %>
						<ul class="nav navbar-nav navbar-right">
							<li><%= link_to "Projects", :projects %></li>
							<li><%= link_to current_user.display_name, :root %></li>
							<li><%= link_to "Logout", :logout %></li>
						</ul>
						<% end %>
					</div><!-- /.navbar-collapse -->
				</nav>
				<%= yield %>
			</div>
		</header>
	</body>
</html>
