<% content_for :content do %>
<section id="ng-app" ng-app="<%= @resource_for_angular %>_list_app" ng-controller="<%= @resource_for_angular %>_list_ctrl" class="center-block">
	<h1><%= content_for?(:welcome_msg) ? yield(:welcome_msg) : controller_name.pluralize.capitalize %></h1>
	<%= render 'notification_section' %>
	<div class>
		<input id="search-bar" type="text" ng-model="query" ng-change="search()" class="form-control" placeholder="Search here...">
	</div>
	<div>
		<div class="radio-btn-section">
			<%= yield :header_btns %>
		</div>
	</div>
	<div>
		<div class="table-responsive">
			<table ng-show="paged<%= @resource_for_angular.pluralize.capitalize %>.length>0" class="table table-bordered table-condensed table-hover" cellspacing="10">
				<%= yield :table %>
			</table>
			<h2 ng-show="<%= @resource_for_angular.pluralize %>.length==0">No <%= @resource_for_angular.pluralize %> found.</h2>
			<h2 ng-show="paged<%= @resource_for_angular.pluralize.capitalize %>.length<=0 && <%= @resource_for_angular.pluralize %>.length>0 ">No rows found for '{{query}}'</h2>
		</div>
	</div>
	<div ng-show="paged<%= @resource_for_angular.pluralize.capitalize %>.length>1">
		<ul class="pagination">
			<li ng-class="{disabled: currentPage == 0}">
				<a href ng-click="prevPage()">&laquo;</a>
			</li>
			<li ng-repeat="n in range(0,paged<%= @resource_for_angular.pluralize.capitalize %>.length)" ng-class="{active: n == currentPage}" ng-click="setPage()">
				<a href ng-bind="n + 1">{{n}}</a>
			</li>
			<li ng-class="{disabled: currentPage == paged<%= @resource_for_angular.pluralize.capitalize %>.length - 1}">
				<a href ng-click="nextPage()">&raquo;</a>
			</li>
		</ul>
	</div>
	<%= yield :footer %>
</section>

<% end %>
<%= render template: "layouts/application" %>