<% content_for :content do %>
<h1><%= @title %></h1>
<%= render 'notification_section' %>
<div class="panel-group" id="accordion">
	<div class="panel panel-primary">
		<%= yield %>
	</div>
</div>
<%= yield :footer %>
<% end %>
<%= render template: "layouts/application" %>