<% content_for :content do %>
<h1><%= @title %></h1>
<%= render 'notification_section' %>
<div>
	<%= link_to "[Expand All]", "#", class: "expand-all-panels" %>
	<%= link_to "[Collapse All]", "#", class: "collapse-all-panels" %>
</div>
<div class="panel-group" id="accordion">
	<div class="panel panel-primary">
		<%= yield %>
	</div>
</div>
<%= yield :footer %>
<% end %>
<%= render template: "layouts/application" %>